.status-card__image:has(.fa-file-text) {
  display: none !important;
}

.xmention * {
  display: inline;
}

.sbmt-profile-img-wrapper {
  padding: 8px 0 8px 8px;
}

.sbmt-profile-img {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-color: #282c37;
}

.sbmt-profile-img-link {
  display: flex;
}

.sbmt-profile-img-link:hover {
  text-decoration: none !important;
}

.sbmt-account-details {
  flex: 5 !important;
  padding: 8px 8px 8px 4px;
  line-height: 1.4;
}

.sbmt-account-name {
  font-weight: bold;
}

.sbmt-account-name-link {
  display: flex;
}

.sbmt-account-username {
  font-size: 0.9rem;
}

.sbmt-account-note {
  margin-top: 4px;
  font-weight: normal;
  line-height: 1.3;
}

.sbmt-account-note p * {
  display: inline !important;
}

.sbmt-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sbmt-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.sbmt-account-labels {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  background: silver;
  border-radius: 20px;
  margin: 2px;
}

.sbmt-pe-none {
  pointer-events: none;
}
